# PostgreSQL
POSTGRES_USER=uploads_user
POSTGRES_PASSWORD=uploads_password
POSTGRES_DB=uploads_db

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# S3 Configuration
S3_SERVICE_URL=http://minio:9000
S3_BUCKET_NAME=video-uploads
